#persona {
    position: absolute;
    color: greenyellow;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/sfondo.png);
    background-size: contain;
}

h1 {
    font-size: 72px;
}